.header {
    height: 100%;
}

.header__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    
}

.header__nav {

}

.header__nav-list {
display: flex;
justify-content: center;
align-items: center;
column-gap: 70px;
column-gap: min(70px, 5vw);
}

.header__nav-item {

}

.header__nav-link {
    font-weight: 500;
    font-size: 20px;
    color: var(--co-black);
    white-space: nowrap;
}
.header__nav-link:hover{
    color: var(--co-green);
    
}
.header__nav-link:focus-visible{
outline: 2px solid var(--co-dark-green);
}
.header__action {
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: nowrap;
column-gap: 10px;
}

.btn-signin{
   color: var(--co-black); 
   background-color: transparent;
   
}
@media (max-width: 992px){
    .header__nav-link {
    font-size: 16px;   
}
.btn{
    font-size: 16px;
    width: 120px;
}
}
@media (max-width: 768px){
.header__nav {
display: none;
}
}